.about-code{
  float: left;
  width: calc(100% - 35%);
  margin: 40px 40px;
  height: 400px;
  // background-color: rgb(192, 113, 17);

  h1{
    margin: 0 35px;
    text-align: center;
    font-size: 40px;
    padding-bottom: 130px;
  }

  img{
    height: 100%;
    border-radius: 20px;
  }

  .gard{
    float: right;
    width: calc(100% - 60%);
  }

  p{
    font-size: 20px;
    float: right;
    text-align: center;
    padding-top: 80px;
    padding-right: 50px;
  }
}

.skilll{
  height: 400px;
  width: calc(100% - 75%);
  margin-left: 1000px;
  margin-top: 250px;

  .show__skilll{
    padding-top: 30px;
    margin-top: 600px;

    .cover-image{
      width: 80%;
      height: 100px;
      margin: 0 auto;

      img{
        width: 100%;
        border-radius: 40px;
      }
    }

    .skilll__list{
      font-size: 20px;
      padding-top: 110px;
      width: calc(100% - 37%);
      margin-left: 70px;
      

      h1{
        text-align: center;
        padding: 30px 0;
        font-size: 20px;
        padding-top: 50px;
        
      }
      
      li{
        text-align: center;
        margin-bottom: 20px;
        list-style: none;
        font-size: 18px;
        text-align: left;
        margin-left: 90px;
      }
    }
  }
}



.programing{
  // background-color: aqua;
  margin: 70px;
  margin-top: 70px;
  height: calc(100% - 700px);

  .code{
    width: 100%;
    height: calc(100% - 85%);
    padding-top: 100px;

    &__text-code{
      float: left;
      margin-top: 150px;
      margin-left: 220px;
      // background-color: darkcyan;
      width: calc(100% - 60%);
      min-height: 200px;
      height: auto;

      h1{
        font-size:  40px;
        width: 90%;
        text-align: center;
        margin: 5px 7px;
        word-break:break-all;

      }

    }

    &__photo-code{
      width: (100% - 45%);
      background-color: darkorchid;
      height: 400px;
      float: right;
    }
  }

  .program{
    background-color: indianred;
    width: 100%;
    height: calc(100% - 80%);

    &__photo-image{
      float: left;
      background-color: darkorchid;
      width: calc(100% - 45%);
      height: 400px;

    }

    &__text-sentense{
      width: (100% - 60%);
      background-color: darkcyan;
      float: right;
      margin-right: 40px;
      margin-bottom: 100px;

      img{
        width: 100%;

      }

    }
  }

}