// .main__top{
//   max-width: 100%;
//   height: auto;
//   width: 90%;
//   margin: 20px auto;
//   height: 1000px;
//   position: relative;
//   background-image: url("IMG_3801.jpg");
//   background-size: cover;
//   border-radius: 10px;

//   .main__top-text{
//     color: green;
//     font-size: 70px;
//     font-weight: bold;
//     text-align: center;
//     line-height: 800px;
//     position: relative;

//   }
// }
