.main__bottom{
  padding-top: 50px;
  max-width: calc(100% - 160px);
  margin: 0 auto;
  width: 100%;
  height: 1000px;
  // height: calc(100vh - 190px);
  
  .main__bottom-left{
    border-radius: 10px;
    float: left;
    width: calc(100% - 330px);
    // background-color: aqua;

    &__news{
      margin-top: 35px;
      text-align: center;
      font-size: 40px;
    }

    &__news__box{
      width: 100%;
      padding: 0 20px;

      .main__bottom-left__news__top{
        margin-top: 50px;
        width: calc(100% - 40px);
        height: 500px;
        // background-color: rosybrown;

        &__left{
          float: left;
          width: calc(100% - 35%);
          // background-color: violet;
          text-align: center;
          height: auto;

          img{
            object-fit: cover;
            width: 100%;
            height: 370px;
          }
        }

        &__right{
          padding-left: 620px;
          margin-top: 120px;
          // width: calc(100% - 50%);
          // background-color: lawngreen;
          min-height: 100px;
          height: auto;

          p{
            padding-top: 120px;
          }
          
        }
      }

      .main__bottom-left__news__middle{
        margin-top: 50px;
        width: calc(100% - 40px);
        height: 500px;
        background-color: rosybrown;

        &__text{
          float: left;
          width: calc(100% - 50%);
          background-color: violet;
          text-align: center;
        }

        &__photo{
          float: right;
          width: calc(100% - 50%);
          background-color: lawngreen;
          text-align: center;
        }
      }

      .main__bottom-left__news__last{
        margin-top: 50px;
        margin-bottom: 50px;
        width: calc(100% - 40px);
        height: 500px;
        background-color: rosybrown;

        &__image{
          float: left;
          width: calc(100% - 50%);
          background-color: violet;
          text-align: center;
        }

        &__sentense{
          float: right;
          width: calc(100% - 50%);
          background-color: lawngreen;
          text-align: center;
        }
      }
    }
  }

  .main__bottom-right{
    border-radius: 10px;
    background-color: tan;
    width: 300px;
    float: right;
    height: calc(100% - 300px);
    margin-top: 100px;

    &__photo{
      margin-left: 30px;
      margin-top: 50px;
      width: 80%;
      height: 200px;
      background-color: aqua;
      // background-image: url("12 FJWC19_KAPPL_KLISTL.jpg");
      // background-size: cover;

      &__image{
        text-align: center;
        line-height: 200px;
      }
    }

    &__name{
      margin-left: 30px;
      width: 80%;
      height: 80px;
      text-align: center;
    }

    &__me{
      margin-left: 30px;
      width: 80%;
      height: auto;
      text-align: center;

      p{
        margin: 10px;
      }
    }

    &__box{
      margin-left: 30px;
      margin-top: 50px;
      width: 80%;
      height: 200px;

      .top{
        margin: 0 20px;
        height: 100px;

        .insta{
          float: left;
          padding-left: 10px;
        }

        .facebook{
          padding-right: 10px;
          float: right;
        }
      }

      .bottom{
        margin: 0 20px;
        top: 100px;
        height: 100px;

        .youtube{
          float: left;
          padding-left: 10px;
        }

        .twitter{
          padding-right: 10px;
          float: right;
        }
      }
    }
  }
}