.about-ski
  .press
  -# = image_tag "IMG_3801.jpg", class: "press"
  %h2 写真かテキスト
  %p こんにちわ
.skill
  .show__skill
    %h2 私のマテリアル
    .skill__list
      %li ski salomon
      %li ブーツ
      %li ウェア
      %li ゴーグル
      %li グローブ
.ski
  .comp
    .comp__text-ski
      %p
        ooooooooooooffffffffffoooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooohhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhoooooffooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo
    .comp__photo-ski
      写真
  .free
    .free__ski-photo
      写真
    .free__ski-text
      %p
        uuuuuuuuuuuuuuuuuuuuuuuuuuuuuuyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyynnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnyyyyyyyyyyyyyyuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu
