.about-ski
  %h1 Ski
  .press
    -# = image_tag("IMG_3041 2.JPG");
    = image_tag("FJWC19_KAPPL_SVOITL_BS1_0039.jpg");
    %p ⬅️日本人として初めて招待された大会  (大会MVP賞獲得)
.skill
  .show__skill
    .cover-img
      = image_tag("IMG_0809.JPG")
    .skill__list
      %h1 使用マテリアル
      %li スキー Salomon Qst 106
      %li ブーツ Salomon Xmax pro 130
      %li ウェア Salomon 
      %li ゴーグル Salomon Lo-Fi
      %li グローブ Salomon 
.ski
  -# %p この時は日本人1人
  .comp
    .comp__text-ski
      %h1 国内外でフリーライドスキーヤーとして、大会や撮影を行なっています。
      -# %h1 2016~2017
      -# %p Kiroro Powder Freeride 1st
      -# %p なまら一発 2nd
      -# %p hanazono slopestyle 2nd
      -# %p Japan Freeride Open Four runner

      -# %h1 2017~2018
      -# %p Japan Freeride Open 7th 
      -# %p Powder Freeride Kiroro 1st
      -# %p NZJFT remarks 3rd
      -# %p NZJFT Mt.Olympus 6th
      -# %p NZJFT Mt.Rupehu 6th & Move of the day
      -# %p Freeride Junior World Championship   Move of the day
      -# %p Over all ranking 24th

      -# %h1 2018~2019
      -# %p NZJFT Remarks 3rd
      -# %p NZJFT Mt.Olympus 3rd
      -# %p NZJFT Mt.Ruapehu 3rd
      -# %p Freeride World Qualifire  Four runner
      -# %p Japan Freeride Open 8th
      -# %p FJT Eldorado 11th
      -# %p FJT Nendaz 31th
      -# %p FJWC Kappl 8th
      -# %p FJT Verbier 10th
      -# %p Over all ranking 12th
    .comp__photo-ski
      = image_tag("IMG_3041 2.JPG");
  -# .free
  -#   .free__ski-photo
  -#     写真
  -#   .free__ski-text
  -#     %p
  -#       uuuuuuuuuuuuuuuuuuuuuuuuuuuuuuyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyynnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnyyyyyyyyyyyyyyuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu
