.about-ski
  .press
    -# = image_tag("IMG_3041 2.JPG");
    = image_tag("FJWC19_KAPPL_SVOITL_BS1_0039.jpg");
    %p ⬅️
    日本人として初めて招待された大会
.skill
  .show__skill
    %h2 私のマテリアル
    .skill__list
      %li ski salomon
      %li ブーツ
      %li ウェア
      %li ゴーグル
      %li グローブ
.ski
  -# %p この時は日本人1人
  .comp
    .comp__text-ski
      %p
        NZ 2018 3rd place!
    .comp__photo-ski
      = image_tag("IMG_3041 2.JPG");
  -# .free
  -#   .free__ski-photo
  -#     写真
  -#   .free__ski-text
  -#     %p
  -#       uuuuuuuuuuuuuuuuuuuuuuuuuuuuuuyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyynnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnyyyyyyyyyyyyyyuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu
