.about-code
  = image_tag("business-3152586_1280.jpg");
  %p こんにちわ
.skilll
  .show__skilll
    %h2 私のスキル
    .skilll__list
      %li html/css
      %li ruby on rails
      %li python
      %li php
      %li 面白そうリスト
.programing
  .code
    .code__text-code
      %h1 最近の成果
    .program__text-sentense
      = image_tag("chat-space.png");
        
