.main
  .main__top
    .main__top-text
  .main__bottom
    .main__bottom-left
      .main__bottom-left__news
        topic
      .main__bottom-left__news__box
        .main__bottom-left__news__top
          .main__bottom-left__news__top__left
            = image_tag ("IMG_8286.PNG");
          .main__bottom-left__news__top__right
            %p 日本人として初めての出場となる大会で3位入賞した時のもの
        .main__bottom-left__news__middle
          .main__bottom-left__news__middle__text
            %p プログラミングでウェブサービスを開発しています
          .main__bottom-left__news__middle__photo
            = image_tag ("code-kids2.png");
        .main__bottom-left__news__last
          .main__bottom-left__news__last__image
            写真
          .main__bottom-left__news__last__sentense
            文章
    .main__bottom-right
      .main__bottom-right__photo
        .main__bottom-right__photo__image
          プロフィール写真
      .main__bottom-right__name
        %p
          勝野天欄
      .main__bottom-right__me
        %p
          こんにちわこんばんわこんにちわこんばんわuuuueeeeeeeeeeeeeeee
      .main__bottom-right__box
        .top
          .insta
            -# =fa_icon "instagram"
            -# ttt-# = link_to "https://www.instagram.com/tenra_katsuno123/" do
          .facebook
            facebook
        .bottom 
          .youtube
            youtube
          .twitter 
            twitter


      
      .main__bottom-right-text
      

  