.about-ski{
  float: left;
  width: calc(100% - 35%);
  margin: 40px 40px;
  height: 400px;
  background-color: rgb(192, 113, 17);

  .press{
    
  }

  h2{
    font-size: 70px;
    text-align: center;
    line-height: 200px;
    float: left;
  }

  p{
    font-size: 30px;
    text-align: center;
    padding-top: 80px;
  }
}

.skill{
  height: 400px;
  background-color: azure;
  width: calc(100% - 75%);
  margin-left: 1000px;
  margin-top: 150px;

  .show__skill{
    padding-top: 30px;

    h2{
      text-align: center;
      font-size: 30px;
      margin-bottom: 30px;
    }

    .skill__list{
      font-size: 20px;
      text-align: center;
      list-style: none;

      li{
        margin-bottom: 20px;

      }
    }
  }
}



.ski{
  background-color: aqua;
  margin: 70px;
  margin-top: 70px;
  height: calc(100% - 700px);

  .comp{
    background-color: aquamarine;
    width: 100%;
    height: calc(100% - 85%);

    &__text-ski{
      float: left;
      margin-top: 50px;
      margin-left: 40px;
      background-color: darkcyan;
      width: calc(100% - 60%);
      // mini
      min-height: 200px;
      height: auto;

      p{
        font-size:20px;
        width: 90%;
        text-align: center;
        margin: 5px 7px;
        word-break:break-all;

      }

    }

    &__photo-ski{
      width: (100% - 45%);
      background-color: darkorchid;
      height: 400px;
      float: right;
    }
  }

  .free{
    background-color: indianred;
    width: 100%;
    height: calc(100% - 80%);

    &__ski-photo{
      float: left;
      background-color: darkorchid;
      width: calc(100% - 45%);
      height: 400px;

    }

    &__ski-text{
      width: (100% - 60%);
      background-color: darkcyan;
      float: right;
      margin-top: 50px;
      margin-right: 40px;

      p{
        font-size:20px;
        width: 90%;
        text-align: center;
        margin: 10px 7px;
        word-break:break-all;
        min-height: 200px;
        height: auto;

      }

    }
  }

}