.about-ski{
  float: left;
  width: calc(100% - 35%);
  margin: 40px 40px;
  height: 400px;

  h1{
    margin: 0 35px;
    text-align: center;
    font-size: 40px;
    padding-bottom: 100px;
  }

  .press{
    width: 100%;


    img{
      object-fit: contain;
      height: 450px;
      float: left;
      border-radius: 20px;
      margin-right: 10px;
    }
  }

  h2{
    font-size: 70px;
    text-align: center;
    line-height: 200px;
    float: left;
  }

  p{
    font-size: 20px;
    padding-top: 130px;
  }
}

.skill{
  height: 400px;
  width: calc(100% - 75%);
  margin-left: 1000px;
  

  .show__skill{
    padding-top: 30px;
    margin-top: 600px;

    .cover-img{
      width: 80%;
      height: 100px;
      margin: 0 auto;

      img{
        width: 100%;
        border-radius: 40px;
      }
    }

    .skill__list{
      font-size: 20px;
      text-align: center;
      list-style: none;
      padding-top: 120px;
      text-align: left;
      margin-left: 90px;

      h1{
        padding-bottom: 30px;
        padding-top: 50px;
      }

      li{
        margin-bottom: 20px;
        font-size: 15px;

      }
    }
  }
}



.ski{
  // background-color: aqua;
  margin: 70px;
  padding-top: 70px;
  height: calc(100% - 700px);

  // p{
  //   padding-left: 200px;
  //   top: 0px;
  // }

  .comp{
    padding-top: 200px;
    width: 100%;
    height: calc(100% - 85%);

    &__text-ski{
      float: left;
      // background-color: darkcyan;
      width: calc(100% - 60%);
      // mini
      min-height: 200px;
      height: auto;

      h1{
        font-size:15px;
        margin-top: calc(100% - 70%);
        text-align: center;
        word-break:break-all;

      }

    }

    .comp__photo-ski{
      width: (100% - 45%);
      // background-color: darkorchid;
      height: 400px;
      float: right;
      
      img{
        margin-bottom: 100px;
        width: 100%;
        border-radius: 20px;
      }
    }
  }

  // .free{
  //   background-color: indianred;
  //   width: 100%;
  //   height: calc(100% - 80%);

  //   &__ski-photo{
  //     float: left;
  //     background-color: darkorchid;
  //     width: calc(100% - 45%);
  //     height: 400px;

  //   }

  //   &__ski-text{
  //     width: (100% - 60%);
  //     background-color: darkcyan;
  //     float: right;
  //     margin-top: 50px;
  //     margin-right: 40px;

  //     p{
  //       font-size:20px;
  //       width: 90%;
  //       text-align: center;
  //       margin: 10px 7px;
  //       word-break:break-all;
  //       min-height: 200px;
  //       height: auto;

  //     }

  //   }
  // }

}