.header__left{
  color: white;
  line-height: 100px;
  margin-left: 300px;
  font-size: 25px;
  height: 100px;
  width: 100%;

  h1{
    float: left;
    margin-right: 100px;
    letter-spacing: 3px;
    font-family: 'Comic Sans MS';

    .hm{
      color: white;
    }

    .sk{
      color: white;
    }

    .pr{
      color: white;
    }

    .lf{
      color: white;
    }

    .fi{
      color: white;
    }
  }

}