.wrapper {
  background-size: auto;
  box-sizing: border-box;
  height: 2000px;
  
  .pop{
    box-sizing: border-box;
    height: 50px;
    padding-top: 70px;
  }

  .header{
    box-sizing: border-box;
    height: 100px;
    background-color: black;
    width: 100%;
    color: white;
    float: right;
    margin-top: 10px; 
  }

  .main{
    box-sizing: border-box;
    background-size: auto;
    padding-top: 200px;
  }
}