.wrapper {
  background-size: auto;
  box-sizing: border-box;
  
  .pop{
    box-sizing: border-box;
    height: 50px;
    padding-top: 50px;

    h1{
      font-size: 40px;
      letter-spacing: 9px;
      margin-left: 200px;

      a{
        color: black;
        text-decoration: none;
      }
    }
  }

  .header{
    box-sizing: border-box;
    height: auto;
    // background-color: black;
    // background-image: url("");
    // width: 100%;
    color: white;
    float: right;
    margin-top: 10px; 
    margin-bottom: 10px;

    img{
      // background-size: cover;
      object-fit: cover;
      zoom: 50%;
      width: 3000px;
      height: 800px;
    }
  }

  .main{
    box-sizing: border-box;
    background-size: auto;
    padding-top: 200px;
  }
}