.me
  .me-left
  .me-right
    .me__bottom-right
      .main__bottom-right__me
        .main__bottom-right__photo-me
          プロフィール写真
      .main__bottom-right__me-name
        %p
          勝野天欄
      .main__bottom-right__bow
        %p
          こんにちわこんばんわこんにちわこんばんわuuuueeeeeeeeeeeeeeee
      .main__bottom-right__box-me
        .top
          .insta
            insta
            -# =fa_icon "instagram"
            -# ttt-# = link_to "https://www.instagram.com/tenra_katsuno123/" do
          .facebook
            facebook
        .bottom 
          .youtube
            youtube
          .twitter 
            twitter
