.me
  .me-top
    %h1 Profile
    .me-top-left
      .face-image
        = image_tag("IMG_0809.JPG");
        .kill-list
          %p 勝野 天欄
          %p 修行中
          %p Salomon, Mt.石井スポーツ, ニセコグランヒラフスキー場 Hertel Wax Japan
          %p contact
        .work-list
          %p 名前
          %p 事業内容
          %p スキー
          %p.mail contact
          

    -# .me-top-right
    -#   .me-list


  -# .me-down
  -#   .me-this-list


  -# .me-right
  -#   .me__bottom-right
  -#     .main__bottom-right__me
  -#       .main__bottom-right__photo-me
  -#         プロフィール写真
  -#     .main__bottom-right__me-name
  -#       %p
  -#         勝野天欄
  -#     .main__bottom-right__bow
  -#       %p
  -#         こんにちわこんばんわこんにちわこんばんわuuuueeeeeeeeeeeeeeee
  -#     .main__bottom-right__box-me
  -#       .topp
  -#         .insta
  -#           insta
  -#           -# =fa_icon "instagram"
  -#           -# ttt-# = link_to "https://www.instagram.com/tenra_katsuno123/" do
  -#         .facebook
  -#           facebook
  -#       .bottom 
  -#         .youtube
  -#           youtube
  -#         .twitter 
  -#           twitter
